/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.position {
  position: relative;
  width: 100%;
}
/* .overlay {
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
} */

/* .overlay-content {
  position: absolute;
  bottom: 0;
  background-color: rgba(102, 109, 139, 1);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
} */
.head-position {
  position: absolute;
  top: 20px;
  left: 133px;
  width: 60%;
  margin: 0 auto;
}
.head {
  font-weight: bold;
  color: #fffffffa;
  font-size: 24px;
}
.member-font:hover {
  background-color: rgba(229, 84, 57, 0.7);
}
.flex {
  display: flex;
  justify-content: space-between;
}
.inline {
  display: flex;
}

/* a {
  color: #e55439;
  cursor: pointer;
} */
.nav-color {
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding: 0 15px;
  cursor: pointer;
}
.nav-color:hover {
  color: red;
}
.red {
  font-weight: bold;
  color: #e55439;
  font-size: 24px;
}
.anchor {
  color: #e55439;
  text-decoration: none;
  font-size: 12px;
}
.bar-btn {
  background-color: #e55439;
  border: none;
  color: whitesmoke;
  font-size: 13px;
}
.main-text {
  color: white;
  font-size: 12px;
}
.main-position {
  position: absolute;
  top: 175px;
  left: 550px;
}
.main-heading {
  color: white;
  font-size: 35px;
  margin-left: -71px;
  margin-top: 35px;
}
.gym-color {
  color: #e55439;
}
.member-font {
  background-color: #e55439;
  font-size: 12px;
  color: white;
  border: none;
  padding: 5px;
  margin-top: 35px;
  margin-left: 40px;
}
.gym-choice {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}
.prgm-color {
  color: #e55439;
}
.line-img {
  text-align: center;
  margin-top: 20px;
}
.para-font {
  color: #c8c8c8;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
.para-small {
  color: #c8c8c8;
  font-size: 12px;
  text-align: center;
  text-align: justify;
  text-transform: capitalize;
}
.padd {
  margin-bottom: 50px;
}
.width {
  width: 70%;
  margin: 0 auto;
}
.content-margin {
  margin-left: 41px;
}
.fit-font {
  font-weight: bold;
}
.para-size {
  color: #c8c8c8;
  font-size: 12px;
  font-weight: 900px;
  margin-top: 10px;
  text-align: justify;
}
.span-more {
  color: #e55439;
  font-size: 12px;
  margin-top: 15px;
}
.mt-left {
  margin-left: 10px;
}
.span-more:hover {
  text-decoration: underline;
}
.mt-top {
  margin-top: 50px;
}
.margin-top {
  margin-top: 31px;
}
.word-color {
  color: #87bbfc;
}
.think-gym {
  font-size: 24px;
  color: white;
}
.place-content {
  position: absolute;
  top: 129px;
  left: 364px;
  text-align: center;
}
.bar-btn:hover {
  background-color: rgba(229, 84, 57, 0.7);
}
.color-red {
  color: #e55439;
}
.para-white {
  color: white;
  margin-top: 13px;
  font-size: 14px;
}
.white {
  color: white;
  font-size: 14px;
  margin-top: 5px;
  text-transform: capitalize;
  text-align: justify;
}
.training-box {
  width: 180px;
  border: 1px solid grey;
  padding: 5px;
  margin-top: 13px;
}
.top-margin {
  margin-top: 80px;
}
.font-color {
  color: #e55439;
  margin-top: 10px;
  font-size: 12px;
  margin-left: 10px;
}
.font-similar {
  margin-top: 10px;
  font-size: 12px;
  margin-left: 10px;
}
.shedule-btn {
  background-color: #e55439;
  color: white;
  border: none;
  margin-top: 10px;
  width: 192px;
  padding: 8px;
}
.shedule-btn:hover {
  background-color: rgba(229, 84, 57, 0.7);
}
.first-training {
  color: #232d38;
  font-size: 16px;
  margin-top: 10px;
}
.first-training-para {
  color: #9e9e9e;
  font-size: 12px;
  margin-top: 10px;
}
.left-margin {
  width: 60%;
}
.view-btn {
  background-color: #e55439;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 5px;
}
.view-btn:hover {
  background-color: rgba(229, 84, 57, 0.7);
}
.choice {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.position-clases {
  position: relative;
}
.daily-schedule {
  position: absolute;
  top: 45px;
  left: 380px;
}
.para-font-color {
  font-size: 12px;
  color: white;
  text-transform: capitalize;
}
.para-small-center {
  font-size: 12px;
  color: white;
  text-transform: capitalize;
  text-align: center;
}
.single-color {
  color: #e55439;
  font-size: 12px;
  margin-left: 25px;
  margin-top: 50px;
}
.center-text {
  margin-left: 113px;
}
.same-color {
  color: white;
  font-size: 12px;
  margin-left: 8px;
  margin-top: 50px;
}
.same-color:hover {
  color: #e55439;
}
table {
  margin-top: 25px;
  padding: 10px;
}
td {
  border: 1px solid white;
  color: white;
  padding: 20px;
  font-size: 11px;
  width: 100px;
  text-transform: capitalize;
}
.para-small-font {
  color: #9e9e9e;
  font-size: 12px;
  text-transform: capitalize;
  text-align: center;
}
.trainer-image-width {
  width: 60%;
  margin: 0 auto;
  padding: 40px;
}
.para-resmall {
  width: 150px;
}
.strength-font {
  color: #e55439;
  font-size: 12px;
  text-transform: capitalize;
  margin-top: 10px;
}
.trainer-name {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 10px;
}
.strength-para {
  color: #9e9e9e;
  font-size: 12px;
  text-transform: capitalize;
  margin-top: 10px;
}
.icon-color {
  color: #232d38;
  font-size: 12px;
}
.icon-color:hover {
  color: #e55439;
}
.shift {
  margin-left: 10px;
}
.last-sect {
  padding-top: 40px;
  position: relative;
}
.form-background {
  background-color: white;
  position: absolute;
  top: 101px;
  left: 671px;
  padding: 25px;
}
.space-input {
  width: 200px;
  margin-left: 15px;
  padding: 5px;
  outline: none;
}
.subject {
  display: block;
  width: 434px;
  margin-left: 15px;
  padding: 5px;
  margin-top: 15px;
  outline: none;
}
.text {
  width: 437px;
  margin-left: 15px;
  padding: 5px;
  margin-top: 15px;
  outline: none;
  height: 150px;
}
.send-btn {
  background-color: #e55439;
  color: white;
  border: none;
  margin-top: 20px;
  display: block;
  margin-left: 15px;
  padding: 8px;
}
.send-btn:hover {
  background-color: rgba(229, 84, 57, 0.7);
}
.footer-font {
  color: #4a525b;
  font-size: 10px;
  text-align: center;
  padding: 20px 0;
  text-transform: capitalize;
}
.footer-font span {
  color: #e55439;
}
